In [1]:
import os
import pandas as pd

# Directory containing the CSV files
input_directory = "Data/Merged SPI & NDVI"
output_file = "merged_file.csv"

# List to store DataFrames
dataframes = []

# Loop through all CSV files in the directory
for file_name in os.listdir(input_directory):
    if file_name.endswith(".csv"):
        # Extract region name from the file name (assuming it's the part before the extension)
        region_name = os.path.splitext(file_name)[0]
        
        # Read the CSV file
        file_path = os.path.join(input_directory, file_name)
        df = pd.read_csv(file_path)
        
        # Add the Region_Name column
        df['Region_Name'] = region_name
        
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all DataFrames
merged_df = pd.concat(dataframes, ignore_index=True)

# Save the merged DataFrame to a single CSV file
merged_df.to_csv(output_file, index=False)

print(f"Merged file saved as {output_file}")

Merged file saved as merged_file.csv

In [7]:
df_merged = pd.read_csv(output_file)
df_merged.head(20)

          Date       SPI      NDVI                  Region_Name
0   2001-01-01  0.651293  0.728943  Wet_Tropics_merged_spi_ndvi
1   2001-02-01  2.000997  0.542816  Wet_Tropics_merged_spi_ndvi
2   2001-03-01  0.939810  0.778401  Wet_Tropics_merged_spi_ndvi
3   2001-04-01  0.469962  0.749986  Wet_Tropics_merged_spi_ndvi
4   2001-05-01 -1.532573  0.782591  Wet_Tropics_merged_spi_ndvi
5   2001-06-01  0.189760  0.601158  Wet_Tropics_merged_spi_ndvi
6   2001-07-01 -1.018048  0.755083  Wet_Tropics_merged_spi_ndvi
7   2001-08-01 -1.215590  0.699055  Wet_Tropics_merged_spi_ndvi
8   2001-09-01 -0.474767  0.680048  Wet_Tropics_merged_spi_ndvi
9   2001-10-01 -0.159447  0.676885  Wet_Tropics_merged_spi_ndvi
10  2001-11-01  0.011184  0.691187  Wet_Tropics_merged_spi_ndvi
11  2001-12-01  0.035168  0.716138  Wet_Tropics_merged_spi_ndvi
12  2002-01-01  0.876553  0.734317  Wet_Tropics_merged_spi_ndvi
13  2002-02-01  1.716641  0.740873  Wet_Tropics_merged_spi_ndvi
14  2002-03-01  0.605266  0.771719  Wet_Tropics_merged_spi_ndvi
15  2002-04-01  0.715194  0.790409  Wet_Tropics_merged_spi_ndvi
16  2002-05-01  0.347283  0.785196  Wet_Tropics_merged_spi_ndvi
17  2002-06-01 -0.669737  0.770114  Wet_Tropics_merged_spi_ndvi
18  2002-07-01 -0.682065  0.728313  Wet_Tropics_merged_spi_ndvi
19  2002-08-01  0.193881  0.698878  Wet_Tropics_merged_spi_ndvi

In [8]:
df_merged['Region_Name'] = df_merged['Region_Name'].str.replace('_merged_spi_ndvi', '', regex=False)
df_merged.head()

         Date       SPI      NDVI  Region_Name
0  2001-01-01  0.651293  0.728943  Wet_Tropics
1  2001-02-01  2.000997  0.542816  Wet_Tropics
2  2001-03-01  0.939810  0.778401  Wet_Tropics
3  2001-04-01  0.469962  0.749986  Wet_Tropics
4  2001-05-01 -1.532573  0.782591  Wet_Tropics

In [10]:
df_merged['Region_Name'] = df_merged['Region_Name'].str.replace('_', '', regex=False)
df_merged.head()

         Date       SPI      NDVI Region_Name
0  2001-01-01  0.651293  0.728943  WetTropics
1  2001-02-01  2.000997  0.542816  WetTropics
2  2001-03-01  0.939810  0.778401  WetTropics
3  2001-04-01  0.469962  0.749986  WetTropics
4  2001-05-01 -1.532573  0.782591  WetTropics

In [12]:
df_merged.to_csv(output_file, index=False)