In [1]:
import os
import pandas as pd

# Directory containing the CSV files
input_directory = "Data\Merged SPI & NDVI & VPD"
output_file = "Data\Merged SPI & NDVI & VPD\Cleaned\merged_file.csv"

# List to store DataFrames
dataframes = []

# Loop through all CSV files in the directory
for file_name in os.listdir(input_directory):
    if file_name.endswith(".csv"):
        # Extract region name from the file name (assuming it's the part before the extension)
        region_name = os.path.splitext(file_name)[0]
        
        # Read the CSV file
        file_path = os.path.join(input_directory, file_name)
        df = pd.read_csv(file_path)
        
        # Add the Region_Name column
        df['Region_Name'] = region_name
        
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all DataFrames
merged_df = pd.concat(dataframes, ignore_index=True)

# Save the merged DataFrame to a single CSV file
merged_df.to_csv(output_file, index=False)

print(f"Merged file saved as {output_file}")

<>:5: SyntaxWarning: invalid escape sequence '\M'
<>:6: SyntaxWarning: invalid escape sequence '\M'
<>:5: SyntaxWarning: invalid escape sequence '\M'
<>:6: SyntaxWarning: invalid escape sequence '\M'
C:\Users\Jspch\AppData\Local\Temp\ipykernel_10852\3187897574.py:5: SyntaxWarning: invalid escape sequence '\M'
  input_directory = "Data\Merged SPI & NDVI & VPD"
C:\Users\Jspch\AppData\Local\Temp\ipykernel_10852\3187897574.py:6: SyntaxWarning: invalid escape sequence '\M'
  output_file = "Data\Merged SPI & NDVI & VPD\Cleaned\merged_file.csv"

Merged file saved as Data\Merged SPI & NDVI & VPD\Cleaned\merged_file.csv

In [2]:
df = pd.read_csv("Data\Merged SPI & NDVI & VPD\Cleaned\merged_file.csv")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\Jspch\AppData\Local\Temp\ipykernel_10852\2225023720.py:1: SyntaxWarning: invalid escape sequence '\M'
  df = pd.read_csv("Data\Merged SPI & NDVI & VPD\Cleaned\merged_file.csv")

In [3]:
df['Region_Name'] = df['Region_Name'].str.replace('_merged_spi_ndvi', '', regex=False)
df.head()

        Date       SPI      NDVI        VPD    Region_Name
0  1/01/2001  0.484304  0.456968  22.960062  Brigalow_Belt
1  1/02/2001  0.862405  0.493178  19.461248  Brigalow_Belt
2  1/03/2001  0.835517  0.478151  20.191908  Brigalow_Belt
3  1/04/2001 -0.419805  0.446017  15.745097  Brigalow_Belt
4  1/05/2001 -1.080726  0.421862  13.158793  Brigalow_Belt

In [4]:
df['Region_Name'] = df['Region_Name'].str.replace('_', ' ', regex=False)
df.head()

        Date       SPI      NDVI        VPD    Region_Name
0  1/01/2001  0.484304  0.456968  22.960062  Brigalow Belt
1  1/02/2001  0.862405  0.493178  19.461248  Brigalow Belt
2  1/03/2001  0.835517  0.478151  20.191908  Brigalow Belt
3  1/04/2001 -0.419805  0.446017  15.745097  Brigalow Belt
4  1/05/2001 -1.080726  0.421862  13.158793  Brigalow Belt

In [5]:
df.to_csv(output_file, index=False)

In [6]:
df = df[~df['Date'].str.contains('2023')]
df.head()

        Date       SPI      NDVI        VPD    Region_Name
0  1/01/2001  0.484304  0.456968  22.960062  Brigalow Belt
1  1/02/2001  0.862405  0.493178  19.461248  Brigalow Belt
2  1/03/2001  0.835517  0.478151  20.191908  Brigalow Belt
3  1/04/2001 -0.419805  0.446017  15.745097  Brigalow Belt
4  1/05/2001 -1.080726  0.421862  13.158793  Brigalow Belt

In [7]:
# Group the dataframe by Region_Name and save each group as a separate file
for region, group in df.groupby('Region_Name'):
    # Create a file name for each region
    region_file = f"Data\\Merged SPI & NDVI & VPD\\Region wise CSV\\{region}.csv"
    
    # Save the group to a CSV file
    group.to_csv(region_file, index=False)

    print(f"Saved {region_file}")

Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Brigalow Belt.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Cape York Peninsula.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Central Queensland Coast.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Channel Country.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Desert Uplands.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Einasleigh Uplands.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Gulf Plains.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Mitchell Grass Downs.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Mulga Lands.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\New England Tableland.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Northwest Highlands.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Southeast Queenslan.csv
Saved Data\Merged SPI & NDVI & VPD\Region wise CSV\Wet Tropics.csv